.track-item {
  display: flex;
  position: relative;
  padding: 1.25rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  flex: 0 1 40%;
  opacity: 0.6;

  &.is--last-item {
    border-bottom: none;
  }

  &__index,
  &__title,
  &__duration {
    color: var(--color-white);

    .is--header & {
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  &__index {
    width: 1.25rem;
    flex-basis: 1.25rem;
  }

  &__title {
    width: 18.75rem;
    flex: 1;
  }

  &__duration {
    width: 3.125rem;
    flex-basis: 3.125rem;
  }
}
