.list {
  position: relative;
  padding: 0.625rem 4.6875rem;

  &__albumlist {
    &--row {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }
    &--inner {
      flex-basis: 33%;
      max-width: 25rem;
      padding: 0.625rem 2.5rem;
    }
  }
}
